{% extends 'base.html.twig' %}
{% block title %}
    {% if edit is same as (true) %}
        {% trans %}Edit episode{% endtrans %}
    {% else %}
        {% trans %}Add new episode{% endtrans %}
    {% endif %}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block body %}
    {% set formErrors = formEpisodeFile.vars.errors.form.getErrors(true) %}
    {% if formErrors | length %}

        <ul class="col-5 alert-danger">
            {% for error in formErrors %}
                <li>{{ error.message|trans }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert-{{ type }}" role="alert">
                {{ message|trans }}
            </div>
        {% endfor %}
    {% endfor %}
    <div class="container col-5">
        {% if edit is same as (true) %}
            <h2>  {% trans %}Edit episode{% endtrans %}</h2>
        {% else %}
            <h2>  {% trans %}Add new episode{% endtrans %}</h2>
        {% endif %}
        {{ form_start(formEpisodeFile, {'attr': {'class': 'form-horizontal', 'id':'addFormFilm'}}) }}
        {{ form_label(formEpisodeFile.name) }}<br>
        {{ form_widget(formEpisodeFile.name, {'attr': {'class': 'form-control', 'required': 'true'}}) }}<br>
        {{ form_label(formEpisodeFile.year) }}<br>
        {{ form_widget(formEpisodeFile.year, {'attr': {'class': 'form-control', 'required': 'true'}}) }}<br>
        {{ form_label(formEpisodeFile.season) }}<br>
        {{ form_widget(formEpisodeFile.season, {'attr': {'class': 'form-control', 'required': 'true'}}) }}<br>

        {{ form_start(formFile) }}
        {{ form_label(formFile.path) }}<br>
        {{ form_widget(formFile.path, {'attr': {'class': 'form-control', 'required': 'true'}}) }}<br>
        {{ form_label(formFile.subtitle) }}<br>
        {{ form_widget(formFile.subtitle, {'attr': {'class': 'form-control', 'required': 'true'}}) }}<br>
        {{ form_label(formFile.audio) }}<br>
        {{ form_widget(formFile.audio, {'attr': {'class': 'form-control', 'required': 'true'}}) }}<br>


        {% if edit is same as (true) %}
            <button class="btn  btn-success float-left mr-5 "  id="add_season" type="submit">
                {% trans %}Edit episode{% endtrans %}
            </button>
        {% else %}
            <button class="btn  btn-success float-left mr-5 "  id="add_season" type="submit">
                {% trans %}Add episode{% endtrans %}
            </button>
        {% endif %}
        {{ form_end(formEpisodeFile) }}
        {{ form_end(formFile) }}
        <a href="{{ path('admin') }}" class="btn  btn-info  float-left mr-5" >
            {% trans %}Back to Admin panel{% endtrans %}
        </a>


    </div>
{% endblock %}
