{% extends 'base.html.twig' %}
{% block title %}
    {% if edit is same as (true) %}
    {% trans %}Editing  of serial{% endtrans %}
{% else %}
    {% trans %}Adding of serial{% endtrans %}
{% endif %}
{% endblock %}

{% block body %}
    {% set formErrors = formSerial.vars.errors.form.getErrors(true) %}
    {% if formErrors | length %}

        <ul class="col-5 alert-danger">
            {% for error in formErrors %}
                <li>{{ error.message|trans }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="container col-5">
        {% if edit is same as (true) %}
           <h1> {% trans %}Edit serial{% endtrans %}</h1>
        {% else %}
            <h1>  {% trans %}Add new serial{% endtrans %}</h1>
        {% endif %}
        {{ form_start(formSerial, {'attr': {'class': 'form-horizontal', 'id':'addFormFilm'}}) }}
        {{ form_label(formSerial.name) }}<br>
        {{ form_widget(formSerial.name, {'attr': {'class': 'form-control', 'required': 'true'}}) }}<br>
        {{ form_label(formSerial.country) }}<br>
        {{ form_widget(formSerial.country, {'attr': {'class': 'form-control', 'required': 'true'}}) }}<br>
        {{ form_label(formSerial.yearStart) }}<br>
        {{ form_widget(formSerial.yearStart, {'attr': {'class': 'form-control', 'required': 'true'}}) }}<br>
        {{ form_label(formSerial.yearFinish) }}<br>
        {{ form_widget(formSerial.yearFinish, {'attr': {'class': 'form-control'}}) }}<br>
        {{ form_label(formSerial.ageCategory) }}<br>
        {{ form_widget(formSerial.ageCategory, {'attr': {'class': 'form-control', 'required': 'true'}}) }}<br>
        {{ form_label(formSerial.categories) }}<br>
        {{ form_widget(formSerial.categories, {'attr': {'class': 'form-control', 'required': 'true'}}) }}<br>


        {% if edit is same as (true) %}
            <button class="btn  btn-success" type="submit">
                {% trans %}Edit{% endtrans %}
            </button>
        {% else %}
            <button class="btn  btn-success" type="submit">
                {% trans %}Next{% endtrans %}
            </button>
        {% endif %}
        {{ form_end(formSerial) }}



    </div>
{% endblock %}
