{% extends 'base.html.twig' %}
{% block title %}
      {% if edit is same as (true) %}
          {% trans %}Edit season{% endtrans %}
      {% else %}
          {% trans %}Add new season{% endtrans %}
      {% endif %}
{% endblock %}

{% block body %}
    {% set formErrors = formSeason.vars.errors.form.getErrors(true) %}
    {% if formErrors | length %}

        <ul class="col-5 alert-danger">
            {% for error in formErrors %}
                <li>{{ error.message|trans }}</li>
            {% endfor %}
        </ul>
    {% endif %}
        <div class="container col-5">

            {% if edit is same as (true) %}
                <h2>  {% trans %}Edit season {% endtrans %}</h2>
            {% else %}
                <h2>  {% trans %}Add new season{% endtrans %}</h2>
            {% endif %}
    {%  if formSeason %}
        {{ form_start(formSeason, {'attr': {'class': 'form-horizontal', 'id':'addFormSeason'}}) }}
        {{ form_label(formSeason.name) }}<br>
        {{ form_widget(formSeason.name, {'attr': {'class': 'form-control', 'required': 'true'}}) }}<br>
        {{ form_label(formSeason.year) }}<br>
        {{ form_widget(formSeason.year, {'attr': {'class': 'form-control', 'required': 'true'}}) }}<br>


        {% if edit is same as (true) %}
            <button class="btn  btn-success float-left mr-5 "  id="add_season" type="submit">
                {% trans %}Edit season{% endtrans %}
            </button>
        {% else %}
            <button class="btn  btn-success float-left mr-5 "  id="add_season" type="submit">
                {% trans %}Add season{% endtrans %}
            </button>
        {% endif %}

        {{ form_end(formSeason) }}
    {% endif %}
        </div>
    <a href="{{ path('admin') }}" class="btn  btn-info  float-left mr-5" >
        {% trans %}Back to Admin panel{% endtrans %}
    </a>
    {%  if episodeButton is defined%}
    {% if episodeButton is same as ("1") %}
        <div class="container col-5 mt-5">
            <a href="{{ path('add_new_episode_file',{ 'serial': serial}) }}" class="btn btn-info" id="add_profile">
                {% trans %}Go to add an episode{% endtrans %}
            </a>
        </div>
    {% endif %}
    {% endif %}
{% endblock %}
