{% extends 'base.html.twig' %}
{% block title %}{% trans %}Adding of episode {% endtrans %}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block body %}
    {% set formErrors = formEpisodeFile.vars.errors.form.getErrors(true) %}
    {% if formErrors | length %}

        <ul class="col-5 alert-danger">
            {% for error in formErrors %}
                <li>{{ error.message|trans }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert-{{ type }}" role="alert">
                {{ message|trans }}
            </div>
        {% endfor %}
    {% endfor %}
    <div class="container col-5">
        <h1>Add new episode</h1>
        {{ form_start(formEpisodeFile, {'attr': {'class': 'form-horizontal', 'id':'addFormFilm'}}) }}
        {{ form_label(formEpisodeFile.name) }}<br>
        {{ form_widget(formEpisodeFile.name, {'attr': {'class': 'form-control', 'required': 'true'}}) }}<br>
        {{ form_label(formEpisodeFile.year) }}<br>
        {{ form_widget(formEpisodeFile.year, {'attr': {'class': 'form-control', 'required': 'true'}}) }}<br>
        {{ form_label(formEpisodeFile.season) }}<br>
        {{ form_widget(formEpisodeFile.season, {'attr': {'class': 'form-control', 'required': 'true'}}) }}<br>

        {{ form_start(formFile) }}
        {{ form_label(formFile.path) }}<br>
        {{ form_widget(formFile.path, {'attr': {'class': 'form-control', 'required': 'true'}}) }}<br>
        {{ form_label(formFile.subtitle) }}<br>
        {{ form_widget(formFile.subtitle, {'attr': {'class': 'form-control', 'required': 'true'}}) }}<br>
        {{ form_label(formFile.audio) }}<br>
        {{ form_widget(formFile.audio, {'attr': {'class': 'form-control', 'required': 'true'}}) }}<br>


        <button class="btn  btn-success float-left mr-5" type="submit">
            {% trans %}Add episode{% endtrans %}
        </button>
        {{ form_end(formEpisodeFile) }}
        {{ form_end(formFile) }}
        <a href="{{ path('admin') }}" class="btn  btn-info  float-left mr-5" >
            {% trans %}Back to Admin panel{% endtrans %}
        </a>
        <a href="{{ path('add_new_season',{ 'serial': serial}) }}" class="btn  btn-success float-left mr-5" >
            {% trans %}Go to adding season{% endtrans %}
        </a>


    </div>
{% endblock %}
