{% extends 'base.html.twig' %}

{% block title %}
    {% if edit is same as (true) %}
        {% trans %}Edit user{% endtrans %}
    {% else %}
        {% trans %}Registration {% endtrans %}
    {% endif %}
{% endblock %}

{% block body %}

    <div class="container"><br>
        {% set formErrors = registrationForm.vars.errors.form.getErrors(true) %}
        {% if formErrors | length %}

            <ul class="col-5 alert-danger">
                {% for error in formErrors %}
                    <li>{{ error.message|trans }}</li>
                {% endfor %}
            </ul>

        {% endif %}
    </div>
    <div class="container">
        <div class="col ">
            {% if edit is same as (true) %}
                <h1>  {% trans %}Edit user {% endtrans %}</h1>
            {% else %}
                <h1> {% trans %}Create new account {% endtrans %}</h1>
            {% endif %}

        </div>
        <div class="col-5">
            {{ form_start(registrationForm, {'attr': {'class': 'form-horizontal'}}) }}
            {{ form_label(registrationForm.firstName) }}<br>
            {{ form_widget(registrationForm.firstName, {'attr': {'class': 'form-control', 'required': 'true'}}) }}<br>
            {{ form_label(registrationForm.lastName) }}<br>
            {{ form_widget(registrationForm.lastName, {'attr': {'class': 'form-control', 'required': 'true'}}) }}<br>
            {{ form_label(registrationForm.email) }}<br>
            {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control','required': 'true'}}) }}<br>
            {{ form_label(registrationForm.defaultLanguage) }}<br>
            {{ form_widget(registrationForm.defaultLanguage, {'attr': {'class': 'form-control','required': 'true'}}) }}
            <br>
            {{ form_label(registrationForm.pin) }}
            {{ form_widget(registrationForm.pin, {'attr': {'class': 'form-control','required': 'true', 'autocomplete':'off'}}) }}
            <br>

                {{ form_label(registrationForm.plainPassword.first) }}<br>
                {{ form_widget(registrationForm.plainPassword.first, {'attr': {'class': 'form-control', 'required': 'true'}}) }}
                <br>
                {{ form_label(registrationForm.plainPassword.second) }}<br>
                {{ form_widget(registrationForm.plainPassword.second, {'attr': {'class': 'form-control', 'required': 'true'}}) }}
                <br>

            {% if edit is same as (true) %}
                <button class="btn  btn-success" type="submit">
                    {% trans %}Edit{% endtrans %}
                </button>
            {% else %}
                <button class="btn  btn-success" type="submit">
                    {% trans %}Sign up {% endtrans %}
                </button>

                {{ form_end(registrationForm) }}
                <hr>
                <button class="btn btn-info" onclick="window.location.href='/login'">
                    {% trans %}Back to sign in{% endtrans %}</button>
            {% endif %}
        </div>
    </div>
{% endblock %}
