{% extends 'base.html.twig' %}

{% block title %}{% trans %}{{category.name}}{% endtrans %}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="nav">

    </div>
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert-{{ type }}" role="alert">
                {{ message}}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="container ">

    </div>

{% endblock %}
