{% extends 'base.html.twig' %}

{% block title %}{% trans %}Main page{% endtrans %}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block body %}

    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert-{{ type }}" role="alert">
                {{ message|trans }}
            </div>
        {% endfor %}
    {% endfor %}
    {% include 'navigation.html.twig' %}
    <div class="container mt-5  ">
        {% set sessionAge = app.session.get('age') %}
        {% if allSerialsAndFilms %}
            {% for serialOrFilm in allSerialsAndFilms %}

                {% if sessionAge is null and serialOrFilm.ageCategory is null %}
                    <div class="card d-flex flex-row mb-1 ">
                        {% if serialOrFilm.yearStart is defined %}
                            <a href="{{ path('all_seasons_from_serial',{'serialId': serialOrFilm.id}) }}"><img
                                        src="{{ asset('images/defaultImage.png') }}"/></a>
                        {% else %}
                            <a href="{{ path('film_page', {'filmId': serialOrFilm.id}) }}"> <img
                                        src="{{ asset('images/defaultImage.png') }}"/></a>
                        {% endif %}
                        <div class="card pl-3 pt-3" style="width: 100%">
                            <p style="color: #000000">{{ serialOrFilm.name|trans }}
                            </p>
                            <p style="color: #000000">{{ serialOrFilm.country|trans }}
                            </p>
                            {% if serialOrFilm.yearStart  is defined %}
                                {% if serialOrFilm.yearFinish is defined %}
                                    <p style="color: #000000">{{ serialOrFilm.yearStart| date("Y") }}
                                        - {{ serialOrFilm.yearFinish| date("Y") }}  </p>
                                {% else %}
                                    <p style="color: #000000">{{ serialOrFilm.yearStart| date("Y") }}
                                    </p>
                                {% endif %}
                            {% else %}
                                <p style="color: #000000">{{ serialOrFilm.year| date("Y") }}
                                </p>
                            {% endif %}
                        </div>

                    </div>

                {% endif %}

                {% if sessionAge is same as (false) %}
                    {% if (serialOrFilm.ageCategory is null)  or (serialOrFilm.ageCategory is same as (false)) %}
                        <div class="card d-flex flex-row mb-1 ">
                            {% if serialOrFilm.yearStart  is defined %}
                                <a href="{{ path('all_seasons_from_serial',{'serialId': serialOrFilm.id}) }}"><img
                                            src="{{ asset('images/defaultImage.png') }}"/></a>
                            {% else %}
                                <a href="{{ path('film_page', {'filmId': serialOrFilm.id}) }}"> <img
                                            src="{{ asset('images/defaultImage.png') }}"/></a>
                            {% endif %}
                            <div class="card pl-3 pt-3" style="width: 100%">
                                <p style="color: #000000">{{ serialOrFilm.name|trans }}
                                </p>
                                <p style="color: #000000">{{ serialOrFilm.country|trans }}
                                </p>
                                {% if serialOrFilm.yearStart  is defined %}
                                    {% if serialOrFilm.yearFinish is defined %}
                                        <p style="color: #000000">{{ serialOrFilm.yearStart| date("Y") }}
                                            - {{ serialOrFilm.yearFinish| date("Y") }}  </p>
                                    {% else %}
                                        <p style="color: #000000">{{ serialOrFilm.yearStart| date("Y") }}
                                        </p>
                                    {% endif %}
                                {% else %}
                                    <p style="color: #000000">{{ serialOrFilm.year| date("Y") }}
                                    </p>
                                {% endif %}
                            </div>

                        </div>
                    {% endif %}
                {% endif %}
                {% if sessionAge is same as (true) %}

                    <div class="card d-flex flex-row mb-1 ">
                        {% if serialOrFilm.yearStart  is defined %}
                            <a href="{{ path('all_seasons_from_serial',{'serialId': serialOrFilm.id}) }}"><img
                                        src="{{ asset('images/defaultImage.png') }}"/></a>
                        {% else %}
                            <a href="{{ path('film_page', {'filmId': serialOrFilm.id}) }}"> <img
                                        src="{{ asset('images/defaultImage.png') }}"/></a>
                        {% endif %}
                        <div class="card pl-3 pt-3" style="width: 100%">
                            <p style="color: #000000">{{ serialOrFilm.name|trans }}
                            </p>
                            <p style="color: #000000">{{ serialOrFilm.country|trans }}
                            </p>
                            {% if serialOrFilm.yearStart  is defined %}
                                {% if serialOrFilm.yearFinish is defined %}
                                    <p style="color: #000000">{{ serialOrFilm.yearStart| date("Y") }}
                                        - {{ serialOrFilm.yearFinish| date("Y") }}  </p>
                                {% else %}
                                    <p style="color: #000000">{{ serialOrFilm.yearStart| date("Y") }}
                                    </p>
                                {% endif %}
                            {% else %}
                                <p style="color: #000000">{{ serialOrFilm.year| date("Y") }}
                                </p>
                            {% endif %}
                        </div>

                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
