{% extends 'base.html.twig' %}

{% block title %}{% trans %}Main page{% endtrans %}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block body %}

    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert-{{ type }}" role="alert">
                {{ message|trans }}
            </div>
        {% endfor %}
    {% endfor %}
    {% include 'navigation.html.twig'%}
    <div class="container row col-2 ">
        <div class="row bg-light mt-5">
            {% for category in categories %}

                <a class="pl-4 mt-4 text-dark col-9" href="{{ path('all_films_serials_from_category', {'category' : category.id}) }}">

                    {{ category.name|trans}}

                </a>

            {% endfor %}
        </div>
    </div>

{% endblock %}
