{% extends 'base.html.twig' %}

{% block title %}
    {{  'Main page'|trans}}
{% endblock %}

{% block body %}

    {% include 'navigation.html.twig' %}
    <div class="container mt-5  ">
        {% set sessionAge = app.session.get('age') %}
        {% if allSerialsAndFilms %}
            {% for serialOrFilm in allSerialsAndFilms %}

                {% if sessionAge is null and serialOrFilm.ageCategory is null %}
                    <div class="card d-flex flex-row mb-1 ">
                        {% if serialOrFilm.yearStart is defined %}
                            <a href="{{ path('all_seasons_from_serial',{'serialId': serialOrFilm.id}) }}"><img
                                        src="{{ asset('images/defaultImage.png') }}"/></a>
                        {% else %}
                            <a href="{{ path('film_page', {'filmId': serialOrFilm.id}) }}"> <img
                                        src="{{ asset('images/defaultImage.png') }}"/></a>
                        {% endif %}
                        <div class="card pl-3 pt-3" style="width: 100%">
                            <p style="color: #000000">{{ 'Name'|trans }}: {{ serialOrFilm.name|trans }}
                            </p>
                            <p style="color: #000000">{{ 'Country'|trans }}: {{ serialOrFilm.country|trans }}
                            </p>
                            {% if serialOrFilm.yearStart  is defined %}
                                {% if serialOrFilm.yearFinish is defined %}
                                    <p style="color: #000000">{{ 'Year'|trans }}: {{ serialOrFilm.yearStart }}
                                        - {{ serialOrFilm.yearFinish }}  </p>
                                {% else %}
                                    <p style="color: #000000">{{ 'Year'|trans }}: {{ serialOrFilm.yearStart}}
                                    </p>
                                {% endif %}
                            {% else %}
                                <p style="color: #000000">{{ serialOrFilm.year }}
                                </p>
                            {% endif %}
                        </div>

                    </div>

                {% endif %}

                {% if sessionAge is same as (false) %}
                    {% if (serialOrFilm.ageCategory is null)  or (serialOrFilm.ageCategory is same as (false)) %}
                        <div class="card d-flex flex-row mb-1 ">
                            {% if serialOrFilm.yearStart  is defined %}
                                <a href="{{ path('all_seasons_from_serial',{'serialId': serialOrFilm.id}) }}"><img
                                            src="{{ asset('images/defaultImage.png') }}"/></a>
                            {% else %}
                                <a href="{{ path('film_page', {'filmId': serialOrFilm.id}) }}"> <img
                                            src="{{ asset('images/defaultImage.png') }}"/></a>
                            {% endif %}
                            <div class="card pl-3 pt-3" style="width: 100%">
                                <p style="color: #000000">{% trans %}Name{% endtrans %}: {{ serialOrFilm.name|trans }}
                                </p>
                                <p style="color: #000000">{% trans %}Country{% endtrans %}: {{ serialOrFilm.country|trans }}
                                </p>
                                {% if serialOrFilm.yearStart  is defined %}
                                    {% if serialOrFilm.yearFinish is defined %}
                                        <p style="color: #000000">{% trans %}Year{% endtrans %}: {{ serialOrFilm.yearStart }}
                                            - {{ serialOrFilm.yearFinish }}  </p>
                                    {% else %}
                                        <p style="color: #000000">{% trans %}Year{% endtrans %}: {{ serialOrFilm.yearStart}}
                                        </p>
                                    {% endif %}
                                {% else %}
                                    <p style="color: #000000">{{ serialOrFilm.year }}
                                    </p>
                                {% endif %}
                            </div>

                        </div>
                    {% endif %}
                {% endif %}
                {% if sessionAge is same as (true) %}

                    <div class="card d-flex flex-row mb-1 ">
                        {% if serialOrFilm.yearStart  is defined %}
                            <a href="{{ path('all_seasons_from_serial',{'serialId': serialOrFilm.id}) }}"><img
                                        src="{{ asset('images/defaultImage.png') }}"/></a>
                        {% else %}
                            <a href="{{ path('film_page', {'filmId': serialOrFilm.id}) }}"> <img
                                        src="{{ asset('images/defaultImage.png') }}"/></a>
                        {% endif %}
                        <div class="card pl-3 pt-3" style="width: 100%">
                            <p style="color: #000000">{% trans %}Name{% endtrans %}: {{ serialOrFilm.name|trans }}
                            </p>
                            <p style="color: #000000">{% trans %}Country{% endtrans %}: {{ serialOrFilm.country|trans }}
                            </p>
                            {% if serialOrFilm.yearStart  is defined %}
                                {% if serialOrFilm.yearFinish is defined %}
                                    <p style="color: #000000">{% trans %}Year{% endtrans %}: {{ serialOrFilm.yearStart }}
                                        - {{ serialOrFilm.yearFinish }}  </p>

                                {% else %}
                                    <p style="color: #000000">{% trans %}Year{% endtrans %}: {{ serialOrFilm.yearStart}}
                                    </p>
                                {% endif %}
                            {% else %}
                                <p style="color: #000000">{{ serialOrFilm.year }}
                                </p>
                            {% endif %}
                        </div>

                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
