{% extends 'base.html.twig' %}
{% block title %}{{filmAction|trans}}{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js /formSerialize.js') }}"></script>
    {{ parent() }}
{% endblock %}
{% block body %}
    {% set formErrors = formFilm.vars.errors.form.getErrors(true) %}
    {% if formErrors | length %}

        <ul class="col-5 alert-danger">
            {% for error in formErrors %}
                <li>{{ error.message|trans }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="container col-5">
        <h1>{{filmAction|trans}}</h1>
        {{ form_start(formFilm, {'attr': {'class': 'form-horizontal', 'id':'addFormFilm'}}) }}
        {{ form_errors(formFilm) }}
        {{ form_label(formFilm.name) }}<br>
        {{ form_widget(formFilm.name, {'attr': {'class': 'form-control', 'required': 'true'}}) }}<br>
        {{ form_label(formFilm.country) }}<br>
        {{ form_widget(formFilm.country, {'attr': {'class': 'form-control', 'required': 'true'}}) }}<br>
        {{ form_label(formFilm.year) }}<br>
        {{ form_widget(formFilm.year, {'attr': {'class': 'form-control', 'required': 'true'}}) }}<br>
        {{ form_label(formFilm.ageCategory) }}<br>
        {{ form_widget(formFilm.ageCategory, {'attr': {'class': 'form-control', 'required': 'true'}}) }}<br>
        {{ form_label(formFilm.categories) }}<br>
        {{ form_widget(formFilm.categories, {'attr': {'class': 'form-control', 'required': 'true'}}) }}<br>
        {{ form_label(formFilm.file.path) }}<br>
        {{ form_widget(formFilm.file.path, {'attr': {'class': 'form-control', 'required': 'true'}}) }}<br>
        {{ form_label(formFilm.file.subtitle) }}<br>
        {{ form_widget(formFilm.file.subtitle, {'attr': {'class': 'form-control', 'required': 'true'}}) }}<br>
        {{ form_label(formFilm.file.audio) }}<br>
        {{ form_widget(formFilm.file.audio, {'attr': {'class': 'form-control', 'required': 'true'}}) }}<br>

        <button class="btn  btn-success" type="submit">
            {{filmAction|trans}}
        </button>
        {{ form_end(formFilm) }}



    </div>
{% endblock %}
