{% extends 'base.html.twig' %}
{% block title %}{{filmAction|trans}}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js /formSerialize.js') }}"></script>
    {{ parent() }}
{% endblock %}
{% block body %}
    {% set formErrors = formFilm.vars.errors.form.getErrors(true) %}
    {% if formErrors | length %}

        <ul class="col-5 alert-danger">
            {% for error in formErrors %}
                <li>{{ error.message|trans }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert-{{ type }}" role="alert">
                {{ message|trans }}
            </div>
        {% endfor %}
    {% endfor %}
    <div class="container col-5">
        <h1>{{filmAction|trans}}</h1>
        {{ form_start(formFilm, {'attr': {'class': 'form-horizontal', 'id':'addFormFilm'}}) }}
        {{ form_errors(formFilm) }}
        {{ form_label(formFilm.name) }}<br>
        {{ form_widget(formFilm.name, {'attr': {'class': 'form-control', 'required': 'true'}}) }}<br>
        {{ form_label(formFilm.country) }}<br>
        {{ form_widget(formFilm.country, {'attr': {'class': 'form-control', 'required': 'true'}}) }}<br>
        {{ form_label(formFilm.year) }}<br>
        {{ form_widget(formFilm.year, {'attr': {'class': 'form-control', 'required': 'true'}}) }}<br>
        {{ form_label(formFilm.ageCategory) }}<br>
        {{ form_widget(formFilm.ageCategory, {'attr': {'class': 'form-control', 'required': 'true'}}) }}<br>
        {{ form_label(formFilm.categories) }}<br>
        {{ form_widget(formFilm.categories, {'attr': {'class': 'form-control', 'required': 'true'}}) }}<br>


        {{ form_start(formFile) }}
        {{ form_label(formFile.path) }}<br>
        {{ form_widget(formFile.path, {'attr': {'class': 'form-control', 'required': 'true'}}) }}<br>
        {{ form_label(formFile.subtitle) }}<br>
        {{ form_widget(formFile.subtitle, {'attr': {'class': 'form-control'}}) }}<br>
        {{ form_label(formFile.audio) }}<br>
        {{ form_widget(formFile.audio, {'attr': {'class': 'form-control', 'required': 'true'}}) }}<br>


        <button class="btn  btn-success" type="submit">
            {{filmAction|trans}}
        </button>
        {{ form_end(formFilm) }}
        {{ form_end(formFile) }}


    </div>
{% endblock %}
