{% extends 'base.html.twig' %}

{% block title %}{{ film.name|trans }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js /profileSubtitles.js') }}"></script>
    <script src="{{ asset('js /playerForFilm.js') }}"></script>
    <script src="{{ asset('js /profileAudio.js') }}"></script>
{% endblock %}
{% block body %}

    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert-{{ type }}" role="alert">
                {{ message|trans }}
            </div>
        {% endfor %}
    {% endfor %}
    {% include 'navigation.html.twig' %}

    <div class="container flex-column d-flex pt-5">

        <h1>Add new film</h1>
        {{ form_start(formFilm, {'attr': {'class': 'form-horizontal'}}) }}
        {{ form_label(formFilm.name) }}<br>
        {{ form_widget(formFilm.name, {'attr': {'class': 'form-control', 'required': 'true'}}) }}<br>
        {{ form_label(formFilm.country) }}<br>
        {{ form_widget(formFilm.country, {'attr': {'class': 'form-control', 'required': 'true'}}) }}<br>
        {{ form_label(formFilm.year) }}<br>
        {{ form_widget(formFilm.year, {'attr': {'class': 'form-control', 'required': 'true'}}) }}<br>
        {{ form_label(formFilm.ageCategory) }}<br>
        {{ form_widget(formFilm.ageCategory, {'attr': {'class': 'form-control', 'required': 'true'}}) }}<br>
        {{ form_label(formFilm.categories) }}<br>
        {{ form_widget(formFilm.categories, {'attr': {'class': 'form-control', 'required': 'true'}}) }}<br>


        {{ form_start(formFile) }}
        {{ form_label(formFile.path) }}<br>
        {{ form_widget(formFile.path, {'attr': {'class': 'form-control', 'required': 'true'}}) }}<br>
        {{ form_label(formFile.subtitle) }}<br>
        {{ form_widget(formFile.subtitle, {'attr': {'class': 'form-control', 'required': 'true'}}) }}<br>
        {{ form_label(formFile.audio) }}<br>
        {{ form_widget(formFile.audio, {'attr': {'class': 'form-control', 'required': 'true'}}) }}<br>


        <button class="btn  btn-success" type="submit">
            {% trans %}Add film{% endtrans %}
        </button>
        {{ form_end(formFilm) }}
        {{ form_end(formFile) }}

    </div>

{% endblock %}
