{% extends 'base.html.twig' %}
{% block title %}{% trans %}Welcome Admin {% endtrans %}{% endblock %}

{% block body %}

    <div class=" ">
        <a style="text-decoration: none" class=" ml-4 btn pl-4 mt-4 bg-light col-2 mr-3"
           href="{{ path('select_profile') }}">
            {% trans %}Back to selection of profile{% endtrans %}
        </a>
        <a style="text-decoration: none" class=" btn pl-4 mt-4 bg-light col-2 mr-3"
           href="{{ path('add_new_film') }}">
            {% trans %}Add new film{% endtrans %}
        </a>
        <a style="text-decoration: none" class=" btn pl-4 mt-4 bg-light col-2 mr-3"
           href="{{ path('add_new_serial') }}">
            {% trans %}Add new serial{% endtrans %}
        </a>
        <a style="text-decoration: none" class=" btn pl-4 mt-4 bg-light col-2 mr-3"
           href="{{ path('list_of_all_films') }}">
            {% trans %}Films{% endtrans %}
        </a>
        <a style="text-decoration: none" class=" btn pl-4 mt-4 bg-light col-2"
           href="{{ path('list_of_all_serials') }}">
            {% trans %}Serials{% endtrans %}
        </a>
        <a style="text-decoration: none" class=" btn pl-4 mt-4 bg-light col-2"
           href="{{ path('users') }}">
            {% trans %}Users{% endtrans %}
        </a>
    </div>
{% endblock %}