{% extends 'base.html.twig' %}

{% block title %} {% trans %}Edit profile settings {% endtrans %}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block body %}

    <div class="container"><br>
        {% set formErrors = profileForm.vars.errors.form.getErrors(true) %}
        {% if formErrors | length %}

            <ul class="col-5 alert-danger" >
                {% for error in formErrors %}
                    <li >{{ error.message|trans }}</li>
                {% endfor %}
            </ul>

        {% endif %}
    </div>
    <div class="container">
        <div class="col ">
            <h1 > {% trans %}Edit settings {% endtrans %}</h1>
        </div>
        <div class="col-5">
            {{ form_start(profileForm, {'attr': {'class': 'form-horizontal'}}) }}
            {{ form_label(profileForm.interfaceLanguage) }}<br>
            {{ form_widget(profileForm.interfaceLanguage, {'attr': {'class': 'form-control','required': 'true'}}) }}<br>
            {{ form_label(profileForm.preferredLanguage) }}
            {{ form_widget(profileForm.preferredLanguage, {'attr': {'class': 'form-control','required': 'true', 'autocomplete':'off'}}) }}<br>
            {{ form_label(profileForm.preferredAudio) }}<br>
            {{ form_widget(profileForm.preferredAudio, {'attr': {'class': 'form-control', 'required': 'true'}}) }}<br>
           <button  class="btn  btn-success" type="submit">
               {% trans %} Edit {% endtrans %}
            </button>
            {{ form_end(profileForm) }}
            <hr>
            <button  class="btn btn-info" onclick="window.location.href='/profile-menu'">
                {% trans %}  Back to menu {% endtrans %}</button>
        </div>
    </div>
{% endblock %}
