{% extends 'base.html.twig' %}

{% block title %}Profile settings {% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block body %}

    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert-{{ type }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    {% include 'navigation.html.twig' %}
    <div class="container row  ">
        <div class="container col-7">
        <h3>Hello  {{   profile.nickname}}</h3>
                <label> Interface language:  {{profile.interfaceLanguage}}</label><br>
            <label> Interface language:  {{profile.preferredLanguage}}</label><br>
            <label> Interface language:  {{profile.preferredAudio}}</label><br>

        <button class="btn-data-edit "> <a href="{{ path('editProfileSettings') }}">Edit your personal data</a></button>
            <br><br>
            <a style=" padding: 5px;" href="{{ path('profileLogout') }}" class="btn-danger">Logout</a>
    </div>
    </div>
{% endblock %}
