{% extends 'base.html.twig' %}

{% block title %}{% trans %}All films from{% endtrans %} "{{ category.name|trans }}"{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block body %}

    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert-{{ type }}" role="alert">
                {{ message|trans }}
            </div>
        {% endfor %}
    {% endfor %}
    {% include 'navigation.html.twig' %}
    <div class="row col-2 bg-light mt-5" style="float:left">
        {% for category in categories %}

            <a class="pl-4 mt-4 text-dark col-9"
               href="{{ path('all_films_from_category', {'category' : category.id}) }}">

                {{ category.name|trans }}

            </a>

        {% endfor %}
    </div>
    <div class="container flex-column d-flex pt-5">
        {% set sessionAge = app.session.get('age') %}
        {% if allFilmsFromCategory %}
            {% for film in allFilmsFromCategory %}
                {% if sessionAge is null %}
                    {% if film.ageCategory is null %}
                        <div class="card d-flex flex-row mb-1 ">
                            <img src="" alt="">
                            <a href="{{ path('film_page', {'filmId': film.id}) }}"> <img alt=""
                                                                                         src="{{ asset('images/defaultImage.png') }}"/></a>
                            <div class="card pl-3 pt-3" style="width: 100%">
                                <p style="color: #000000">{{ film.name|trans }}
                                </p>
                                <p style="color: #000000">{{ film.country|trans }}
                                </p>
                                <p style="color: #000000">{{ film.year }}
                                </p>
                            </div>

                        </div>
                    {% endif %}
                {% endif %}

                {% if sessionAge is same as (false) %}
                    {% if (film.ageCategory is null)  or (film.ageCategory is same as (false)) %}
                        <div class="card d-flex flex-row mb-1 ">
                            <img src="" alt="">
                            <a href="{{ path('film_page', {'filmId': film.id}) }}"> <img alt=""
                                                                                         src="{{ asset('images/defaultImage.png') }}"/></a>
                            <div class="card pl-3 pt-3" style="width: 100%">
                                <p style="color: #000000">{{ film.name|trans }}
                                </p>
                                <p style="color: #000000">{{ film.country|trans }}
                                </p>
                                <p style="color: #000000">{{ film.year }}
                                </p>
                            </div>

                        </div>
                    {% endif %}
                {% endif %}
                {% if sessionAge is same as (true) %}

                    <div class="card d-flex flex-row mb-1 ">
                        <img src="" alt="">
                        <a href="{{ path('film_page', {'filmId': film.id}) }}"> <img alt=""
                                                                                     src="{{ asset('images/defaultImage.png') }}"/></a>
                        <div class="card pl-3 pt-3" style="width: 100%">
                            <p style="color: #000000">{{ film.name|trans }}
                            </p>
                            <p style="color: #000000">{{ film.country|trans }}
                            </p>
                            <p style="color: #000000">{{ film.year }}
                            </p>
                        </div>

                    </div>

                {% endif %}

            {% endfor %}
        {% endif %}

    </div>

{% endblock %}
