{% extends 'base.html.twig' %}

{% block title %}{% trans %}All serials from {% endtrans %} "{{ category.name|trans }}"{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block body %}

    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert-{{ type }}" role="alert">
                {{ message|trans }}
            </div>
        {% endfor %}
    {% endfor %}
    {% include 'navigation.html.twig' %}
    <div class="row col-2 bg-light mt-5" style="float:left">
        {% for category in categories %}

            <a class="pl-4 mt-4 text-dark col-9"
               href="{{ path('all_serials_from_category', {'category' : category.id}) }}">

                {{ category.name|trans }}
            </a>

        {% endfor %}
    </div>
    <div class="container flex-column d-flex pt-5">
        {% set sessionAge = app.session.get('age') %}
        {% if allSerialsByCategory %}
            {% for serial in allSerialsByCategory %}
                {% if sessionAge is null %}
                    {% if serial.ageCategory is null %}
                        <div class="card d-flex flex-row mb-1 ">
                            <a href="{{ path('all_seasons_from_serial',{serialId: serial.id, serialId: serial.id}) }}">
                                <img src="{{ asset('images/defaultImage.png') }}" alt=""/></a>
                            <div class="card pl-3 pt-3" style="width: 100%">
                                <p style="color: #000000">{% trans %}Name{% endtrans %}:{{ serial.name }}
                                </p>
                                <p style="color: #000000" class="float-left" >{% trans %}Categories{% endtrans %}:
                                    {% for category in serial.categories %}
                                        {{ category }},
                                    {% endfor %}
                                </p>
                                <p style="color: #000000">{% trans %}Country{% endtrans %}: {{ serial.country|trans }}
                                </p>
                                {% if serial.yearFinish %}
                                    <p style="color: #000000">{% trans %}Year{% endtrans %}: {{ serial.yearStart }}
                                        - {{ serial.yearFinish }}  </p>
                                {% else %}
                                    <p style="color: #000000">{% trans %}Year{% endtrans %}: {{ serial.yearStart }}
                                    </p>
                                {% endif %}
                            </div>

                        </div>
                    {% endif %}
                {% endif %}
                {% if sessionAge is same as (false) %}
                    {% if (serial.ageCategory is null)  or (serial.ageCategory is same as (false)) %}
                        <div class="card d-flex flex-row mb-1 ">
                            <a href="{{ path('all_seasons_from_serial',{serialId: serial.id,serialId: serial.id}) }}">
                                <img src="{{ asset('images/defaultImage.png') }}" alt=""/></a>
                            <div class="card pl-3 pt-3" style="width: 100%">
                                <p style="color: #000000">{% trans %}Name{% endtrans %}: {{ serial.name }}
                                </p>
                                <p style="color: #000000" class="float-left" >{% trans %}Categories{% endtrans %}:
                                    {% for category in serial.categories %}
                                        {{ category }},
                                    {% endfor %}
                                </p>
                                <p style="color: #000000">{% trans %}Country{% endtrans %}: {{ serial.country|trans }}
                                </p>
                                {% if serial.yearFinish %}
                                    <p style="color: #000000">{% trans %}Year{% endtrans %}: {{ serial.yearStart }}
                                        - {{ serial.yearFinish }}  </p>
                                {% else %}
                                    <p style="color: #000000">{% trans %}Year{% endtrans %}: {{ serial.yearStart }}
                                    </p>
                                {% endif %}
                            </div>

                        </div>
                    {% endif %}
                {% endif %}
                {% if sessionAge is same as (true) %}
                    <div class="card d-flex flex-row mb-1 ">
                        <a href="{{ path('all_seasons_from_serial',{serialId: serial.id,serialId: serial.id}) }}"> <img
                                    src="{{ asset('images/defaultImage.png') }}" alt=""/></a>
                        <div class="card pl-3 pt-3" style="width: 100%">
                            <p style="color: #000000">{% trans %}Name{% endtrans %}: {{ serial.name }}
                            </p>
                            <p style="color: #000000" class="float-left" >{% trans %}Categories{% endtrans %}:
                                {% for category in serial.categories %}
                                    {{ category }},
                                {% endfor %}
                            </p>
                            <p style="color: #000000">{% trans %}Country{% endtrans %}: {{ serial.country|trans }}
                            </p>
                            {% if serial.yearFinish %}
                                <p style="color: #000000">{% trans %}Year{% endtrans %}: {{ serial.yearStart }}
                                    - {{ serial.yearFinish }}  </p>
                            {% else %}
                                <p style="color: #000000">{% trans %}Year{% endtrans %}: {{ serial.yearStart }}
                                </p>
                            {% endif %}
                        </div>

                    </div>
                {% endif %}
            {% endfor %}
            {% else %}
        {% endif %}

    </div>

{% endblock %}
