{% extends 'base.html.twig' %}

{% block title %}{% trans %}All serials from {% endtrans %} "{{ category.name|trans }}"{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block body %}

    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert-{{ type }}" role="alert">
                {{ message|trans}}
            </div>
        {% endfor %}
    {% endfor %}
    {% include 'navigation.html.twig' %}
    <div class="row col-2 bg-light mt-5" style="float:left">
        {% for category in categories %}

            <a class="pl-4 mt-4 text-dark col-9" href="{{ path('all_serials_from_category', {'category' : category.id}) }}">

                {{ category.name|trans}}
            </a>

        {% endfor %}
    </div>
    <div class="container flex-column d-flex pt-5">

        {% if allSerialsByCategory %}
            {% for serial in allSerialsByCategory %}
                <div class="card d-flex flex-row mb-1 ">
                    <a href="{{ path('all_seasons_from_serial',{serial: serial.id}) }}">  <img  alt="" src="{{ asset('images/defaultImage.png') }}"/></a>
                    <div class="card pl-3 pt-3" style="width: 100%">
                        <p style="color: #000000">{{ serial.name|trans }}
                        </p>
                        <p style="color: #000000">{{ serial.country|trans }}
                        </p>
                        {% if serial.yearFinish %}
                            <p style="color: #000000">{{ serial.yearStart| date("Y") }} - {{ serial.yearFinish| date("Y") }}  </p>
                        {% else %}
                            <p style="color: #000000">{{ serial.yearStart| date("Y") }}
                            </p>
                        {% endif %}
                    </div>

                </div>
            {% endfor %}
        {% endif %}

    </div>

{% endblock %}
