{% extends 'base.html.twig' %}

{% block title %}{% trans %}All seasons from{% endtrans %}{{ serial.name|trans }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block body %}

    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert-{{ type }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    {% include 'navigation.html.twig' %}

    <div class="container flex-column d-flex pt-5">
        <h2>{{ serial.name|trans }}</h2>
        {% if seasons %}
            {% for season in seasons %}
                <div class="card d-flex flex-row mb-1 ">
                    <a href="{{ path('all_episodes_of_season',{serialId: serial.id,'seasonId': season.id}) }}">
                        <div class="card pl-3 pt-3" style="width: 100%">
                            <p style="color: #000000">{{ season.name }}
                            </p>
                            <p style="color: #000000">{{ season.year| date("Y") }}
                            </p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% endif %}

    </div>

{% endblock %}
